/* utility class for common styling */

.text-center {
  text-align: center;
}

.container {
  background-color: black;
  margin: 0 auto; /*  margin: top-bottom    right-left */
  width: fit-content;
}
#reset {
  background-color: rgb(241, 129, 8);
}
.button {
  width: 60px;
  height: max-content;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.user-input {
  font-size: medium;
  width: 300px;
  margin: 26px;
  padding: 12px;
}

.row {
  display: flex;
  justify-content: center;
}
